@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model encryptDecryptModel

<form method="post" asp-controller="Home" asp-action="Encrypt">
    <label asp-for="d">Plain Text</label>
    <input asp-for="d" class="form-control mb-3" />
    <button type="submit" class="btn btn-primary">Encrypt</button>
</form>

<h2>@Model.e</h2>